/AguilarVictorAlejandro/java/leccion2/EjercicioCiclos03/nbproject/private/
/AguilarVictorAlejandro/java/leccion2/EjercicioCiclos03/build/
/AguilarVictorAlejandro/java/leccion2/EjercicioCiclos04/nbproject/private/
/AguilarVictorAlejandro/java/leccion2/EjercicioCiclos04/build/
/AguilarVictorAlejandro/java/leccion2/EjercicioCiclos05/nbproject/private/
/AguilarVictorAlejandro/java/leccion2/EjercicioCiclos05/build/
/AguilarVictorAlejandro/java/Leccion3/LeccionClasesObjetos/build/
/AguilarVictorAlejandro/java/leccion2/EjerciciosCiclos06/nbproject/private/
/AguilarVictorAlejandro/java/leccion2/EjerciciosCiclos06/build/
/AguilarVictorAlejandro/java/Leccion4/Aritmetica/nbproject/private/
/AguilarVictorAlejandro/java/leccion2/EjericicioCiclos07/nbproject/private/
/AguilarVictorAlejandro/java/leccion2/EjericicioCiclos07/build/
/Tecnicatura/java/Leccion4/Aritmetica/build/
/Tecnicatura/java/Leccion4/ProyectoCaja/build/
/Tecnicatura/java/Leccion4/HolaMundo/nbproject/private/
/Tecnicatura/java/Leccion4/HolaMundo/build/
/Tecnicatura/java/Leccion4/leccionClasesObjetos/nbproject/private/
/Tecnicatura/java/leccion2/EjerciciosCiclos10/nbproject/private/
/Tecnicatura/java/leccion2/EjerciciosCiclos10/build/
/Tecnicatura/java/leccion2/EjercicioCiclos11/nbproject/private/
/Tecnicatura/java/leccion2/EjercicioCiclos11/build/
/Tecnicatura/java/leccion2/EjercicioCiclos12/nbproject/private/
/Tecnicatura/java/leccion2/EjercicioCiclos12/build/
/Tecnicatura/java/Leccion5/Encapsulamiento/nbproject/private/
/Tecnicatura/java/Leccion5/Encapsulamiento/build/
/Tecnicatura/java/Leccion5/ContextoEstatico/nbproject/private/
/Tecnicatura/java/Leccion5/ContextoEstatico/build/
